#gameboardHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 170px;
    height: 170px;
    align-content: center;
    justify-content: center;
}

